*.z*

html/thorns.png
html/hints.html
html/final.html
html/plans.html
html/plot.html
html/puzzles.html
html/style.html
html/walkthrough.txt
thorns.scr
walkthrough.rec
walkthrough.txt

transcripts/
puny/
