*.z*

html/
transcripts/
scratch/
unit/[0-9][0-9]*
unit/[0-9]-*
unit/current.*
unit/commands.*
alts/[0-9][0-9]*
alts/[0-9]-*
alts/current.*
alts/commands.*

puny/

# Local Netlify folder
.netlify
_site
